<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<div class="banner">
  <div class="banner-content">
    <h1>Simple Airbnb</h1>
    <span class = "button-add"><%= link_to "Add a flat", new_flat_path%></span>
  </div>
</div>

<div class="container">
  <h2 class="text-center">All our flats</h2>
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card">
        <div class="card-body">
          <h3><%= flat.name %></h3>
          <p><%= flat.address %></p>
          <span class = "info"><i class="fas fa-euro-sign"></i><%= flat.price_per_night %></span>
          <span class = "info"><i class="fas fa-users"></i><%= flat.number_of_guests %></span>
        </div>
        <div class="card-footer">
          <%= link_to "See details", flat_path(flat), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>


